<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
      <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
</head>
<body>
	<h1>Gallery</h1>

	<img src="{% static "images/1.jpeg" %}" />
	<img src="{% static "images/2.jpeg" %}" />
	<img src="{% static "images/3.jpeg" %}" />
	<img src="{% static "images/4.jpeg" %}" />
	<img src="{% static "images/5.jpeg" %}" />
	<img src="{% static "images/6.jpeg" %}" />
	<img src="{% static "images/7.jpeg" %}" />
	<img src="{% static "images/8.jpeg" %}" />

	{{ gallery }}
</body>
</html>