<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
	<a href="home" class="link1">HOME</a>
	<a href="about" class="link2">ABOUT</a>
	<a href="gallery" class="link3">GALLERY</a>
	<a href="login" class="link4">LOGIN</a>
	<a href="signup" class="link5">SIGNUP</a>
</head>
<body>
	<div class="image">
		<h1>THIS IS MY HOME PAGE</h1>
		<img src="{% static "images/1.jpeg" %}" />
		{{ home }}
	</div>
</body>
</html>